
@font-face {
    src: url(/Fontes/OpenSans-Regular.ttf);
    font-family: 'openSans';
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'openSans';
}


.noticia {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: white;
    max-width: 450px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
}

img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.texto {
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
}

.detalhes {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 8px;
}

.detalhes span {
    color: #999999;
    font-size: 14px;
}

h2 a {
    text-decoration: none;
    color: #B5000D;
    font-weight: bold;
    font-size: 22px;
    padding-top: 31px;
}

p {
    padding-top: 9px;
    padding-bottom: 27px;
    font-size: 18px;
    color: #333333;
}

