* { padding: 0; margin: 0;}

body.emptyList {
    background-color: #ecf0f1;
    background-image: url("images/empty-list.png");
    background-repeat: no-repeat;
    background-position: center 200px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.inputItem .itemName {
    height: 72px;
    display: flex;
}

.inputItem .itemName input {
    width: calc(100% - 80px);
    border: none;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    padding-left: 5%;
    line-height: 24px;
    color: #4a4a4a;
}

.inputItem .itemName button.save {
    width: 80px;
    border: solid 1px #3498db;
    background-color: #3498db;
}

.inputItem .minimumStock {
    background-color: #34495E;
    height: 72px;
    display: flex;
    align-items: center;
}

.inputItem .minimumStock label {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: #ffffff;
    width: 61px;
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5%;
}

.inputItem .minimumStock span.qtMin {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 24px;
    margin-left: 8px;
    text-align: center;
    width: 70px;
}

.inputItem .minimumStock .estoqueBtn {
    margin-left: 5px;
}

.inputItem .minimumStock button {
    float: right;
    background-color: #34495E;
    border: none;
    margin-left: 40px;
}

.updateLis {
    display: flex;
}

.updateLis button.cancel{
    background-color: #34495E;
    height: 72px;
    width: 80px;
    border: none;
}

.updateLis button.save {
    background-color: #3498DB;
    width: calc(100% - 80px);
    align-items: center;
    border: none;
}

.updateLis button.save label {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 16px;
    width: 75px;
    margin-right: 10px;
}

#GroceryList {
    margin-top: 72px;    
}

#GroceryList li .item .descricao {
    background-color: #D8DFE1;
    height: 72px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Lato' sans-serif;
    font-weight: 600;
    color: #4A4A4A;
    padding-left: 5%;
    border-bottom: solid 1px rgba(74, 74, 74, 0.5);
}

#GroceryList li .item .descricao label sup {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
}

#GroceryList li .item .descricao span {
    margin-right: 5%;
}

#GroceryList li .item .acao {
    height: 72px;
    background-color: #34495E;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
}

#GroceryList li .item .acao button {
    width: 35px;
    height: 35px;
    background-color: #34495E;
    border: none;
    align-items: center;
}

#GroceryList li .item .comprando {
    background-color: #EF3E3E;
    color: #ffffff;
    border-bottom: solid 1px #fff;
}














